{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container mt-5">
    <div class="shadow-lg p-3 mb-5 bg-primary-subtle rounded shadow-sizing">
        <div class="row">
            <div class="col-md-6 offset-md-3">
            <h1 class="display-6 text-center fw-bolder">Get to know us</h1>
            <hr class="text-center">

            <p class="ms-2 me-2 text-center fw-bold">We are a purpose driven organisation that is focused on digitalising businesses for sustainable growth, efficiency and optimization. We take pride in putting our clients' strategy in sync with our delivery and we do things right the first time always. Macron has a global portfolio that allows us to introduce latest technologies to the market and because we have a global portfolio we are well-versed with policies and statutory regulation in privacy and data protection. </p>

            <p class="ms-2 me-2 text-center fw-bold">Our unique mix of skills allows us to have a wide offering including consultancy, design, architecture, development, operations, training, and support. We are not a digital agency, yet we deliver all the services that one would—without the overheads.</p>

            <p class="fw-bold text-center text-dark" style="font-family: cursive; color:white">Team Macron</p>
            </div>
        </div>


    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 text-white align-content-center">
            <h1 class="fw-bold display-6">Why Macron?</h1>
            <p>
                We enable our clients, as well as society, to move confidently into the digital future. We’re committed to building their long-term success, combining our global reach with local expertise and capabilities to serve our clients in over 10 countries.
            </p>

        </div>
        <div class="col-md-6 shadow-lg bg-white text-center">
            <img class="w-75" src="{% static 'img/Main.png' %}" alt="logo">
        </div>
    </div>

</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 text-white">
            <h1 class="fw-bold display-6">Our Purpose</h1>
            <p>
                Empowering global progress through digital transformation. We want to create a world where technology drives economic growth and ensures decent work for all. By digitalizing businesses, we aim to enhance efficiency, accessibility, and sustainability, making a positive impact on communities worldwide.
            </p>
        </div>
    </div>

</div>

<div class="container">
    <h2 class="text-white fw-bold display-6">Our Values</h2>
    <div class="row g-4 d-flex align-items-center justify-content-center">
        <div class="col-md-4">
            <div class="shadow-lg p-3 mb-5 bg-primary-subtle rounded">
            <h3>Clients First</h3>
            <p>
            We continuously work to understand our clients' businesses and strive to resolve every concern to their satisfaction. We feel a responsibility to ensure their success. We let this obligation set the direction of our work and guide our actions.</p></div>
        </div>
        <div class="col-md-4">
            <div class="shadow-lg p-3 mb-5 bg-primary-subtle rounded">
            <h3>Speed</h3>
            <p> We never settle for the status quo. Instead, with speed and foresight, we anticipate challenges that lie ahead. We consider the future of IT, and of our clients' businesses, enhancing our ability to picture the future, and with our ecosystems, adapt to the changing business environment.</p> </div>
        </div>
        <div class="col-md-4">
            <div class="shadow-lg p-3 mb-5 bg-primary-subtle rounded">
            <h3>Teamwork</h3>
            <p>We believe that when a diverse group of individuals bring their unique world views together, share their wisdom and work toward a common goal, the results are extraordinary and far beyond what can be achieved by any one person.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}