{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header start -->
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-light fw-bolder text-capitalize text-center mt-5">
                We are a progressive digital growth accelerator.
            </h1>
            <hr class="col-2 offset-5 mb-5" style="color: #eb8228;">
        </div>
    </div>
</div>
<!-- Header end -->


<!-- Card stacking start -->
<div class="container">
    <div class="row">
        <div class="col-12 clstack justify-content-evenly"> <img class="clstackimg" src="static/img/codioful.jpg" alt="bg image">
            <div class="stacking-container">
                <h2 class="gradient-text">Business Emails</h2>
                <br><h4>Unlock the Potential of Your Brand with a Custom Email Address</h4><br>
                <p class="stacking-text">Elevate your business's professionalism and credibility by securing a custom email address tailored to your brand.</p>
                <button type="button" class="btn macronbutton">Get quote</button>
            </div>
            <div>
                <img class="img-fluid" src="static/img/email.jpg" style="height: auto; width: 400px; position: relative; object-fit: cover;" alt="">
            </div>
        </div>
        <div class="col-12 clstack"> <img class="clstackimg" src="static/img/3dsplash.jpg" alt="bg image">
            <div class="stacking-container">
                <h2 class="gradient-text">Website design & development</h2>
                <br><h4>Empower Your Business with a Stunning Website</h4><br>
                <p class="stacking-text">Take your online presence to the next level with a professionally crafted website tailored to your unique brand and goals. Our team of experts specializes in designing and developing visually appealing and user-friendly websites that captivate audiences and drive results.</p>
                <button type="button" class="btn macronbutton">Get quote</button>
            </div>
            <div>
                <img class="img-fluid" src="static/img/email.jpg" style="height: auto; width: 400px; position: relative; object-fit: cover;" alt="">
            </div>
        </div>
        <div class="col-12 clstack"> <img class="clstackimg" src="static/img/richard.jpg" alt="bg image">
            <div class="stacking-container">
                <h2 class="gradient-text">Digital Software Systems</h2>
                <br>
                <ul>
                    <li> Custom POS systems</li>
                    <li> Inventory systems</li>
                    <li> Litigation management systems</li>
                    <li> Medical management systems</li>
                    <li>School management & reporting systems</li>
                </ul>
                <br>
                <button type="button" class="btn macronbutton">Get quote</button>
            </div>   
        </div>
        <div class="col-12 clstack"> <img class="clstackimg" src="static/img/milad.jpg" alt="bg image">
            <div class="stacking-container">
                <h2 class="gradient-text">Microsoft M365, PowerApps & PowerAutomate</h2>
                <br>
                <ul>
                    <li> Develop PowerApps Enterprise applications</li>
                    <li> Develop Power Automate workflows for process automation</li>
                    <li> M365 Governance</li>
                    <li>M365 Administration</li>
                    <li>Insider Risk Management</li>
                </ul>
                <br>
                <button type="button" class="btn macronbutton">Get quote</button>
            </div> 
        </div>
        <div class="col-12 clstack"> <img class="clstackimg" src="static/img/pawel.jpg" alt="bg image">
            <div class="stacking-container">
                <h2 class="gradient-text">Process Automation</h2>
                <br>
                <ul>
                    <li> Data capturing automation</li>
                    <li> Downtime systems capturing</li>
                    <li> Robotic Process Automation e.g. Trading robots</li>
                </ul>
                <br>
                <button type="button" class="btn macronbutton">Get quote</button>
            </div> 
        </div>
        <div class="col-12 clstack"> <img class="clstackimg" src="static/img/codiofulunsplash.jpg" alt="bg image">
            <div class="stacking-container">
                <h2 class="gradient-text">Data Analysis & Visualization</h2>

                <br><h4>Uncover Insights, Transform Data</h4>
                <br>
                <p class="stacking-text">Harness the power of data to make informed decisions and drive growth with our data analysis and visualization services. </p>
                <br>
                <button type="button" class="btn macronbutton">Get quote</button>
            </div> 
        </div>
    </div>
</div>
<!-- Card stacking end -->



<!-- Code for cards start -->
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-light fw-bolder text-capitalize text-center mt-5">
                Why Should You Choose Us?
            </h1>
            <hr class="col-2 offset-5 mb-5" style="color: #eb8228;">
        </div>
    </div>
</div>


  <div class="container mt-5">
    <div class="row row-cols-md-3" style="padding-left: 4em;">
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-person-check"></i></div>
  
          <div class="card-body">
            <h5 class="card-title text-center fw-bolder text-uppercase">Our Expertise</h5>
            <p class="card-text">We have done business in 3 continents across 10 countries. Our staff are highly experienced and they have been transforming the digital world across boarders.
                We have worked with different enterprises in different industries from Tech, health, construction, architecture, clothing and education. </p>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-shield-check"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Security</h5>
            <p class="card-text">
              We are aware that some of our clients have minimal knowledge on cyber security so this is a service that we will offer dispite your engagement with us 
            . We follow the Zero trust approach to ensure the all the systems and services we provide are of the highest cyber security standard. We are committed to protecting your data.</p>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-cpu"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Innovation & Tech</h5>
            <p class="card-text"> Innovation is our middle name. We thrive to transform your business through using the latest trending technologies. We ensure that your customers get the best user experience on all 
                of our products and services.
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  <!-- Code for cards end -->



   <!-- Our Strategic Partners start -->
  <div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-light fw-bolder text-capitalize text-center mt-5">
                Our Strategic Partners
            </h1>
            <hr class="col-2 offset-5 mb-5">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="static/img/aws.png" style="height: 100px; width: auto;" alt="aws logo">
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="static/img/microsoft.png" style="height: 120px; width: auto;" alt="ms logo">
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="static/img/webdev.png" style="height: 80px; width: auto;" alt="web logo">
        </div>
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="static/img/bootstrap.png" style="height: 100px; width: auto;" alt="partner logo">
        </div>
    </div>
</div>
   <!-- Our Strategic Partners end -->





 <!-- Sustainable development start -->
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-light fw-bolder text-capitalize text-center mt-5">
                Sustainable Development Goals
            </h1>
            <hr class="col-2 offset-5 mb-5" style="color: #eb8228;">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center">
            <br>
            <h2 class="sustainable-text">We're a purpose driven organisation.</h2><br>
            <h4 class="text-light">Our organisation is taking action in issues 
                that are affecting the world.
            </h4>
            <br>
            <button type="button" class="btn macronbutton mb-4">Partner with us</button>
        </div>
        <div class="col-md-2 col-sm-12 text-center mb-2">
            <img class="img-fluid" src="static/img/sdg5.png" alt="img">
        </div>
        <div class="col-md-2 col-sm-12 text-center mb-2">
            <img class="img-fluid" src="static/img/sdg8.png" alt="img">
        </div>
        <div class="col-md-2 col-sm-12 text-center mb-2">
            <img class="img-fluid" src="static/img/sdg9.png" alt="img">
        </div>
    </div>
</div>
 <!-- Sustainable development end -->


{% endblock %}