{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-page d-flex">
    <img class="image-page" src="{% static 'img/ranga.jpg' %}" alt="ctoimage">
    <div class="text-page align-self-center">
        <h1 class="display-2 fw-bold text-white">Service Offerings</h1>
        <p class="">Our service offerings are unique & internationally recognised.<br>
            We are one of the few brands that offer these services under <br>
            one roof.
            
        </p>

    </div>
</div>


<!-- Code for cards start -->
<div class="container ">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="main-text fw-bolder text-capitalize text-center mt-5">
                Do you need online presence?
            </h1>
            <hr class="col-2 offset-5 mb-5" style="color: #eb8228;">
        </div>
    </div>
</div>


  <div class="container mt-5">
    <div class="row row-cols-md-3" style="padding-left: 4em;">
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-globe"></i></div>
  
          <div class="card-body">
            <h5 class="card-title text-center fw-bolder text-uppercase">Web Development</h5>
            <p class="card-text">We build higly responsive, secure websites and web applications. From static website(information websites) to web application(interactive websites) to ecommerce (website where you can sell your products or services). </p>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-phone"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Mobile application</h5>
            <p class="card-text">
              Through our technological enablement we build mobile application for android as well as iOS platforms. We can integrate them with your website or web application to give your customers a seemless interface. Our application are propably onboarded with google and apple.</p>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-envelope-at-fill"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Business emails and hosting</h5>
            <p class="card-text"> We offer organization professional emails. e.g. info@yourcompany.com . We know that most of our clients are not technical, so we take care of everything from Domain registration(i.e. www.yourcompany.co.zw/com) upto hosting(where your email leave on the internet) and renewals. Stop using @gmail.com  
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  <!-- Code for cards end -->



  <!-- Code for cards start -->
<div class="container ">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="main-text fw-bolder text-capitalize text-center mt-5">
                Enterprise digital solutions
            </h1>
            <hr class="col-2 offset-5 mb-5" style="color: #eb8228;">
        </div>
    </div>
</div>


  <div class="container mt-5">
    <div class="row row-cols-md-3" style="padding-left: 4em;">
      <div class="col-md-3 mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-gear-wide-connected"></i></div>
  
          <div class="card-body">
            <h5 class="card-title text-center fw-bolder text-uppercase">API Development</h5>
            <p class="card-text">APIs are the glue between all digital platforms, that is how your LinkedIn professional is integrated to other websites. We develop API from scratch or add on the existing on. </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-shield-check"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Insider Risk Management</h5>
            <p class="card-text">
              How do you ensure that your contractors or even employees accessing your system don't leak your data? Well, we provide solutions to prevent data leaks done by authenticated users intentionally or accidentially.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-graph-up-arrow"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Data Analytics and Visualisation</h5>
            <p class="card-text">
              Transform your raw data into actionable insights with our expert data analysis and visualization services. Using cutting-edge tools and techniques, we uncover trends, patterns, and correlations to drive informed decision-making. From sales, marketing, social engineering and agriculture.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-microsoft"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Microsoft Power Platform & M365</h5>
            <p class="card-text"> We build PowerApps applications & Power Automate workflows  to enhance productivity and automate repetitive tasks. We also manage Microsoft 365 tenants for clients that don't have time to do that or clients that just want professional work on their M365 tenants. From SharePoint, Teams, Exchange, VIVA etc  
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  <!-- Code for cards end -->


    <!-- Code for cards start -->
<div class="container ">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="main-text fw-bolder text-capitalize text-center mt-5">
                Governance & Technical debt
            </h1>
            <hr class="col-2 offset-5 mb-5" style="color: #eb8228;">
        </div>
    </div>
</div>


  <div class="container mt-5">
    <div class="row row-cols-md-3" style="padding-left: 4em;">
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-window-stack"></i></div>
  
          <div class="card-body">
            <h5 class="card-title text-center fw-bolder text-uppercase">Platform governance</h5>
            <p class="card-text">We offer governance solutions in all forms, from definition of Standards and best practises, Data Loss Prevention policies, information classification, groups & permissions, Power platform Starter kit, to secure Authentication solutions and B2B solution for collaboration between teams. </p>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-filetype-py"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Project scaling and refactoring</h5>
            <p class="card-text">
              We offer scaling and optimization on existing Django projects. We do containerization, bench marking, profiling and code refactoring. We also handle version upgrades for our clients and cloud migrations as well as service provider changes. </p>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card h-100 card-item" style="width: 17rem;">
          <div class="card-icon"><i class="bi bi-file-earmark-text"></i></div>
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase fw-bolder">Technical Documentation</h5>
            <p class="card-text">Let our experts handle technical documentation for you. We offer API reference documentation, product documentation, integration documentation process documentation, SDK usage documentation and any form of technical documentation. We have inhouse editors that ensure that your documentation is typo fee and gramatically correct.   
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  <!-- Code for cards end -->
{% endblock content %}